*{
    box-sizing: border-box;
}
#container{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width:100%;
}

section>img{
    width:32vw;
    height: 40vh;
}

h2{
    font-size: 19px;
    padding-top: 15px;
}

h3{
    font-weight: normal;
    font-size: 25px;
    padding-bottom: 10px;
}

p{
    color:grey;
}

